<header>
  <div class="header_links-container">
    <button class="header_link toggle-navbar-btn" (click)="toggleNavbar()">
      <img src="assets/menu_icon.svg" alt="menu_icon"> Menu
    </button>
    <a routerLink="/index" routerLinkActive="active" class="header_link">
      <img src="assets/home_icon_white.svg" alt="home icon"> Home
    </a>
    <a routerLink="/about" routerLinkActive="active" class="header_link">
      <img src="assets/about_icon.svg" alt="about icon"> About
    </a>
    <a routerLink="/topanimes" routerLinkActive="active" class="header_link">
      <img src="assets/trophy_icon.png" alt="trophy icon"> Top Animes
    </a>
  </div>
  <div class="login-links">
    <!-- Always show 'Rate' link, but disable it if not logged in -->
    <a
      [routerLink]="authService.getLoginStatus() ? '/createlist' : '#'"
      routerLinkActive="active"
      class="login_link"
      
      (click)="authService.getLoginStatus() ? null : showToast()"
    >
      <img src="assets/star_icon.svg" alt="rate icon"> Rate
    </a>
    <!-- Login link shows when not logged in -->
    <a
      *ngIf="!authService.getLoginStatus()"
      routerLink="/login"
      routerLinkActive="active"
      class="login_link"
    >
      <img src="assets/login_icon.svg" alt="login icon"> Login
    </a>
    <!-- Logout link shows when logged in -->
    <a
      *ngIf="authService.getLoginStatus()"
      (click)="onLogout()"
      class="login_link"
    >
      <img src="assets/login_icon.svg" alt="logout icon"> Logout
    </a>
  </div>
</header>

<!-- Toast notification (same as before) -->
<div #toast class="toast">You are not logged in!</div>
