header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-black);
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  position: relative; /* Ensures absolute positioning works within the header */
}

.header_links-container {
  display: flex;
  gap: 25px;
}

.centered-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.login-links {
  display: flex;
  gap: 15px;
  cursor: pointer;
  margin-left: auto;
}


.header_link, .login_link {
  color: var(--primary-white);
  font-size: 25px;
  font-weight: bold;
  position: relative;
}

.header_link::after, .login_link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-white);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.header_link:hover::after, .login_link:hover::after {
  transform: scaleX(1);
}

.login_link img, .header_link img {
  height: 20px;
}

.toggle-navbar-btn {
  padding: 0px;
  background: none;
  border: none;
  color: var(--primary-white);
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  align-items: center;
}

.toggle-navbar-btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-white);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.toggle-navbar-btn:hover::after {
  transform: scaleX(1);
}

.disabled {
  color: gray;
  pointer-events: none; /* Disable clicking */
}

.disabled img {
  opacity: 0.5; /* Make the icon appear disabled */
}


button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.toast {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: white;
  padding: 15px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.5s; /* Delay visibility change */
  text-align: center;
  font-size: 15px;
}

.toast.show {
  opacity: 1;
  visibility: visible;
}

.toast.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.5s; /* Transition visibility after opacity */
}


