<header>
  <div class="header_links-container">
    <button class="header_link toggle-navbar-btn" (click)="toggleNavbar()">
      <img src="assets/menu_icon.svg" alt="menu_icon"> Menu
    </button>
    <a routerLink="/index" routerLinkActive="active" class="header_link">
      <img src="assets/home_icon_white.svg" alt="home icon"> Home
    </a>
    <a routerLink="/about" routerLinkActive="active" class="header_link">
      <img src="assets/about_icon.svg" alt="about icon"> About
    </a>
    <a routerLink="/topanimes" routerLinkActive="active" class="header_link">
      <img src="assets/trophy_icon.png" alt="trophy icon"> Top Animes
    </a>
  </div>

  @if (authService.currentUserSig() == null) {
  <div class="login-links">
    <a routerLink="/login" routerLinkActive="active" class="login_link">
      <img src="assets/login_icon.svg" alt="login icon"> Login
    </a>
  </div>
}
@if (authService.currentUserSig()) {
  <div class="login-links">
    <div (click)="logout()" class="login_link">
      Log out
    </div>
  </div>
}
</header>
