<header>
  <div class="header_links-container">
    <button class="header_link toggle-navbar-btn" (click)="toggleNavbar()">
      <img src="assets/menu_icon.svg" alt="menu_icon"> Menu
    </button>
    <a routerLink="/index" routerLinkActive="active" class="header_link">
      <img src="assets/home_icon_white.svg" alt="home icon"> Home
    </a>
    <a routerLink="/about" routerLinkActive="active" class="header_link">
      <img src="assets/about_icon.svg" alt="about icon"> About
    </a>
  </div>

  <div class="centered-link">
    <a routerLink="/topanimes" routerLinkActive="active" class="header_link">
       Top Rated <img src="assets/trophy_icon.png" alt="trophy icon"> Animes
    </a>
  </div>

  <div class="login-links">
    <a routerLink="/createlist" routerLinkActive="active" class="login_link" 
       [ngClass]="{ 'disabled': !authService.currentUserSig() }"
       (click)="preventNavigation($event)">
      <img src="assets/star_icon.svg" alt="rate icon"> Rate animes
    </a>

    <a *ngIf="authService.currentUserSig() == null" routerLink="/login" routerLinkActive="active" class="login_link">
      <img src="assets/login_icon.svg" alt="login icon"> Login
    </a>
    <div *ngIf="authService.currentUserSig()" (click)="logout()" class="login_link">
      <img src="assets/logout_icon.svg" alt="logout icon"> Log out
    </div>
  </div>

  <!-- Toast message -->
  <div #toast class="toast">⚠️ You need to be logged in to rate animes!</div>
</header>
