<div class="middle_content_fadein">
  <div class="center_tables">
      <h1 class="h1" style='color: #d4be98'>Abbe Åkeson's anime profile</h1>
  
      <div class="tables_with_image">
          <img src="/assets/AbbeBild.png" alt="member2 photo" class="member_photos_2">
          <div class="tables">
              <p style='color: #d4be98'><b>Personal profile</b></p>
              <table class="table_border">
                <thead>
                  <tr>
                    <th>Kategori</th>
                    <th>Detaljer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ålder</td>
                    <td>25</td>
                  </tr>
                  <tr>
                    <td>Titel</td>
                    <td>Student</td>
                  </tr>
                  <tr>
                    <td>Program</td>
                    <td>Systemvetarprogrammet</td>
                  </tr>
                </tbody>
              </table>
          
              <p style='color: #d4be98'><b>Some of my watched animes</b></p>
          
              <table class="table_border">
                <thead>
                <tr>
                  <th>Episodes</th>
                  <th>Anime title</th>
                  <th>Judgement</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>26</td>
                  <td>Evangelion</td>
                  <td>10/10 <i class='bx bxs-star' style='color:#d0c722'></i></td>
                </tr>
                
                <tr>
                  <td>13</td>
                  <td>Arifureta</td>
                  <td>2/10 <i class='bx bxs-star' style='color:#d0c722'></i></td>
                </tr>
          
                <tr>
                  <td>148</td>
                  <td>Hunter x Hunter</td>
                  <td>8/10 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
                </tr>
                
                <tr>
                  <td>10</td>
                  <td>Devilman: Crybaby</td>
                  <td>9/10 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
                </tr>
                
                <tr>
                  <td>24</td>
                  <td>Dororo</td>
                  <td>8/10 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
                </tr>
          
                <tr>
                  <td>37</td>
                  <td>Mob Psycho 100</td>
                  <td>10/10 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
                </tr>
          
                <tr>
                  <td>13</td>
                  <td>Serial Experiments Lain</td>
                  <td>10/10 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
                </tr>
            </tbody>
          
                
              </table>
          </div>
      </div>

      <app-poll></app-poll>
      
  </div>
</div>
