
  <div class="middle_content">
    <div class="about_div">
      <h1>About the project</h1>
      <p><b>
        The purpose of this project is to showcase our skills and knowledge in back-end technologies by developing a dynamic, web-based application using Angular. 
        The application connects to a Firebase database, allowing us to serve interactive and customizable content to users. Our main objective is to create a single-page 
        application centered on a topic that reflects our shared interests. After consideration, we chose anime as the focus because both of us enjoy watching it and find 
        it an exciting and engaging subject to explore. To meet the project requirements, the application includes key components such as a menu, header, footer, and a main content 
        area. Users can add entities through a validated form, ensuring data integrity. The navigation menu is implemented using Angular Router, and the application is fully 
        integrated with Firebase, supporting manual user additions and dynamic content updates. To enhance the application, we utilized Angular Material to improve the user 
        interface, incorporating its components and widgets throughout the design. Additional features include user authentication, where only logged-in users can modify or 
        delete entries in the database. This project has been a rewarding experience, combining technical skills with creative expression. Developing a platform around a 
        shared passion like anime made the process both enjoyable and meaningful, while allowing us to gain valuable hands-on experience with Angular and Firebase.
    </b></p>
    </div>
  </div>