<span class="side-nav" *ngIf="isNavbarVisible">
    <ul>
        <li>
            <b><a routerLink="/" routerLinkActive="active" style="color: #d4be98;">Home</a></b>
        </li>
        <li>
            <b><a routerLink="/about" routerLinkActive="active" style="color: #d4be98;">About</a></b>
        </li>
        <li>
            <b><a routerLink="/member1" routerLinkActive="active" style="color: #d4be98;">Filip's top 3 anime</a></b>
        </li>
        <li>
            <b><a routerLink="/member2" routerLinkActive="active" style="color: #d4be98;">Abbe's top 3 anime</a></b>
        </li>
        <li>
            <b><a routerLink="/login" routerLinkActive="active" style="color: #d4be98;">Login</a></b>
        </li>
        <li>
            <b><a routerLink="/createlist" routerLinkActive="active" style="color: #d4be98;">Create your own anime list</a></b>
        </li>
    </ul>
    
    <span class="navbar_image_holder">
        <img src="assets/sukuna_image.png" alt="anime image" class="navbar_image">
    </span>
    
</span>
  