<div class="side-nav" *ngIf="isNavbarVisible">
    <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/member1" routerLinkActive="active">Filip's top 3 anime</a></li>
        <li><a routerLink="/member2" routerLinkActive="active">Abbe's top 3 anime</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login - create anime list</a></li>
    </ul>
    
    <div class="navbar_image_holder">
        <img src="assets/sukuna_image.png" alt="anime image" class="navbar_image">
    </div>
    
  </div>
  