.side-nav {
    position: absolute;
    top: 78px; /*temporary, annars 0, bara för att se hur det ser ut utan overlap*/
    left: 0;
    height: calc(78vh - 78px - 100px);
    width: 250px;
    background-color: #333;
    padding: 0px 0;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    z-index: 2;
    
  }

  .side-nav.active {
    left: 0;
  }
  
  .side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .side-nav li {
    margin: 20px 0;
  }
  
  .side-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .side-nav a:hover {
    background-color: #575757;
  }
  
  .navbar_image_holder {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 40%;

}

  .navbar_image {
    height: 40%;
    border-radius: 5px;
  }