<div class="middle_content">
  <div class="login_form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
<h1>Login</h1>

@if (errorMessage) {
  <div>{{ errorMessage }}</div>
}


  <div class="input_box">
    <input type="text" placeholder="Email" formControlName="email" />
    <i class="bx bxs-user"></i>
  </div>
  <div class="input_box">
    <input type="password" placeholder="Password" formControlName="password" />
    <i class="bx bxs-lock-alt"></i>
  </div>
  <div>
    <button type="submit" class="button">Sign In</button>
    <b><p class="account_check_text">Don't have an account yet?
      <a routerLink="/signup" routerLinkActive="active">
        <b><u class="signup_text">Sign up.</u></b>
      </a>
    </p></b>
  </div>
</form>
</div>
</div>