.account_check_text{
  margin-top: 16px;
}
h1{
  color: #f08080;
}
.signup_text {
  
  color: #f08080;
  transition: color 0.3s ease; 
}

.signup_text:hover {
  color: #ffdab9; 
}


.login_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#1d2021;
  text-align: center;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgba(212, 190, 152, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  margin: 40px;
}

.login_form .input_box{
  position: relative;
  height: 50px;
  margin: 30px 0;
  border: 2px solid rgba(212, 190, 152, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #d4be98;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.input_box input{
  background: transparent;
  outline: none;
  flex: 1;
  border: none;
  height: 100%;
  padding-left: 20px;
  color: #d4be98;
}

.input_box input::placeholder {
  color: #d4be98;
  opacity: 0.7; 
}

.input_box input:focus {
  background: transparent; 
  border-color: #d4be98; 
  color: #d4be98; 
  outline: none; 
  box-shadow: none; 
}

.input_box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.login_form .button {
  width: 200px;
  height: 45px;
  background: linear-gradient(135deg, #ffdab9, #f08080); 
  border: 2px solid #f08080; 
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  transition: all 0.3s ease-in-out; 
  position: relative;
  overflow: hidden;
}

.login_form .button:hover {
  background: linear-gradient(135deg, #f08080, #ffdab9);
  color: #fff;
  transform: scale(1.05); 
  box-shadow: 0 0 10px rgba(240, 128, 128, 0.5);
}

/* Add a subtle glowing effect */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(240, 128, 128, 0.5);
  }
  50% {
    box-shadow: 0 0 15px rgba(240, 128, 128, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(240, 128, 128, 0.5);
  }
}

.login_form .button:active {
  animation: glow 0.5s ease-in-out;
}
.input_box input:-webkit-autofill,
.input_box input:-webkit-autofill:hover,
.input_box input:-webkit-autofill:focus,
.input_box input:-webkit-autofill:active {
  background-color: transparent !important;
  color: #d4be98 !important;
  -webkit-text-fill-color: #d4be98 !important; 
  transition: background-color 5000s ease-in-out 0s;
}