<div class="middle_content">
  <div class="login_form">
    <form (ngSubmit)="onSubmit()">
      <h1>Login</h1>
      <div class="input_box">
        <input
          type="text"
          [(ngModel)]="username"
          name="username"
          class="form-control"
          placeholder="Enter your username..." style="color:#d4be98"
          required
        />
        <i class="bx bxs-user"></i>
      </div>
      <div class="input_box">
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          class="form-control"
          placeholder="Enter your password..." style="color:#d4be98"
          required
          (input)="validatePassword()"
        />
        <i class="bx bxs-lock-alt"></i>
      </div>

      <button type="submit" class="button">Login!</button>
      <b><p class="account_check_text">Don't have an account yet?
        <a routerLink="/signup" routerLinkActive="active">
          <b><u class="signup_text">Sign up.</u></b>
        </a>
      </p></b>
      <p *ngIf="successMessage" class="success_message">{{ successMessage }}</p>
    </form>
  </div>
</div>
