.middle_content_createlist{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center; 
    background: #282828;
    
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    color: var(--primary-white);
    position: relative;
    min-height: 85vh;
}