<div class="middle_content">
  <div class="top-anime-container">
    <h2>Top Rated Anime</h2>
    <table *ngIf="topAnimeList.length > 0">
      <tr>
        <th>Ranking</th> <!-- New header for ranking -->
        <th>Anime</th>
        <th>Average Rating</th>
      </tr>
      <tr *ngFor="let anime of topAnimeList; let i = index">
        <td>{{ i + 1 }}</td> <!-- Position is based on the index of the array (1-based index) -->
        <td>{{ anime.name }}</td>
        <td>{{ anime.averageRating }}/10 ⭐</td>
      </tr>
    </table>
    <p *ngIf="topAnimeList.length === 0">No ratings yet.</p>
  </div>
</div>
