/* Styling for the top-anime-container */
.top-anime-container {
  width: 95%; /* Increase the width of the container */
  max-width: 1200px; /* Set a max width to prevent it from becoming too large */
  margin: 0 auto;
  background-color: #1d2021;
  padding: 40px; /* Increase padding to make the content more spacious */
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6); /* Larger shadow for more emphasis */
  text-align: center;
}

/* Table and sidebar container styling */
.table-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Table styling */
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  display: inline-block;
  margin-top: 20px; /* Optional margin for spacing */
}

table {
  width: 90%; /* Increase the table width */
  margin: 0 auto;
  border-collapse: collapse;
  text-align: left;
  border: 3px solid #d4be98; /* Increase border width */
  border-radius: 8px;
  background-color: #2c2f30;
}

th, td {
  padding: 20px; /* Increase padding for more spacious cells */
  border-bottom: 1px solid #aa987a;
  font-size: 1.2rem; /* Larger font size */
}

th {
  background-color: #282828;
  color: #d4be98;
}

tr:nth-child(even) {
  background-color: #3a3a3a;
}

tr:hover {
  background-color: #4b4b4b;
}

p {
  color: #f08080;
  text-align: center;
  font-size: 1.5rem; /* Larger font size for the "No ratings yet" message */
  margin-top: 20px;
}
