<div class="middle_content">
  <div class="signup_form">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<h1>Sign up</h1>

<div *ngIf="errorMessage">
  <div>{{ errorMessage }}</div>
</div>

  <div class="input_box">
    <input type="text" placeholder="Username" formControlName="username" />
  </div>
  <div class="input_box">
    <input type="text" placeholder="Email" formControlName="email" />
  </div>
  <div class="input_box">
    <input type="password" placeholder="Password" formControlName="password" />
    <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
      <div *ngIf="form.controls['password'].hasError('required')">Password is required</div>
      <div *ngIf="form.controls['password'].hasError('minlength')">Password must be at least 8 characters long</div>
      <div *ngIf="form.controls['password'].hasError('pattern')">Password must meet the complexity requirements</div>
    </div>
  </div>
  <div>
    <button type="submit" class="button">Sign Up</button>
  </div>
</form>