<div class="middle_content_fadein">
  <div class="center_tables">
    <h1 class="h1" style='color: #d4be98'>Filip Carlsson's anime profile</h1>
      <div class="tables_with_image">
        <div class="tables">
          <p style='color: #d4be98'><b>Personal profile</b></p>
          <table class="table_border">
            <tr>
              <th>Category</th>
              <th>Details</th>
            </tr>
            <tr>
              <td>Age</td>
              <td>20</td>
            </tr>
            
            <tr>
              <td>Title</td>
              <td>Student</td>
            </tr>
      
            <tr>
              <td>Currently studying</td>
              <td>Systemvetarprogrammet</td>
            </tr>
          </table>
          
          <p style='color: #d4be98'><b>Some of my watched animes</b></p>
          
          <table class="table_border">
            <tr>
              <th>Episodes</th>
              <th>Anime title</th>
              <th>Rating</th>
            </tr>
            
            <tr>
              <td>146</td>
              <td>The Disastrous Life of Saiki K.</td>
              <td>3,5/5 <i class='bx bxs-star' style='color:#d0c722'></i></td>
            </tr>
            
            <tr>
              <td>12</td>
              <td>Solo Leveling</td>
              <td>3/5 <i class='bx bxs-star' style='color:#d0c722'></i></td>
            </tr>
      
            <tr>
              <td>98</td>
              <td>Attack on Titan</td>
              <td>4.5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
            
            <tr>
              <td>12</td>
              <td>Tokyo Ghoul</td>
              <td>1.5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
            
            <tr>
              <td>48</td>
              <td>Jujutsu Kaisen</td>
              <td>4/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
      
            <tr>
              <td>37</td>
              <td>Mob Psycho 100</td>
              <td>5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
      
            <tr>
              <td>48</td>
              <td>Vinland Saga</td>
              <td>5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
      
            
          </table>

          <br>
          
        </div>
        <img src="assets/member1_photo.jpg" alt="member1 photo" class="member_photos">
        
      </div>
      
      <h1 style='color: #d4be98'>My top 3 animes</h1>

      
      <app-accordion></app-accordion>
      

    </div>
</div>

