
<div class="middle_content_fadein">
  <div class="center_tables">
    <h1 class="h1" style='color: #d4be98'>Filip Carlsson's anime profile</h1>
      <div class="tables_with_image">
        <div class="tables">
          <p style='color: #d4be98'><b>Personal profile</b></p>
          <table class="table_border">
            <tr>
              <th>Kategori</th>
              <th>Detaljer</th>
            </tr>
            <tr>
              <td>Ålder</td>
              <td>20</td>
            </tr>
            
            <tr>
              <td>Titel</td>
              <td>Student</td>
            </tr>
      
            <tr>
              <td>Studerar i nuläget</td>
              <td>Systemvetarprogrammet</td>
            </tr>
          </table>
          
          <p style='color: #d4be98'><b>Urval av avbetade anime's</b></p>
          
          <table class="table_border">
            <tr>
              <th>Avsnitt</th>
              <th>Anime namn</th>
              <th>Bedömning</th>
            </tr>
            
            <tr>
              <td>146</td>
              <td>The Disastrous Life of Saiki K.</td>
              <td>3,5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
            
            <tr>
              <td>12</td>
              <td>Solo Leveling</td>
              <td>3/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
      
            <tr>
              <td>98</td>
              <td>Attack on Titan</td>
              <td>4.5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
            
            <tr>
              <td>12</td>
              <td>Tokyo Ghoul</td>
              <td>1.5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
            
            <tr>
              <td>48</td>
              <td>Jujutsu Kaisen</td>
              <td>4/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
      
            <tr>
              <td>37</td>
              <td>Mob Psycho 100</td>
              <td>5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
      
            <tr>
              <td>48</td>
              <td>Vinland Saga</td>
              <td>5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
      
            
          </table>

          <br>
          
        </div>
        <img src="assets/member1_photo.jpg" alt="member1 photo" class="member_photos">
        
      </div>
      
      <h1 style='color: #d4be98'>My top 3 animes</h1>

      <div ngbAccordion #accordion="ngbAccordion">
        <div ngbAccordionItem="first">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton style="color: #d4be98; background-color: #282828;" class="accordion_header">Vinland Saga</button> <!-- Rubriktext --> <!-- Bakom rubriktext -->
          </h2>
          <div ngbAccordionCollapse style="background-color: #282828;"> <!-- Bakgrundsfärg bakom texten -->
            <div ngbAccordionBody style="color: #d4be98;" class="accordion_text_width"> <!-- Textens färg -->
              <ng-template>
                Anim pariatur cliche reprehenderit Anim pariatur cliche reprehenderitAnim pariatur cliche reprehenderitAnim pariatur cliche reprehenderitAnim pariatur cliche reprehenderitAnim pariatur cliche reprehenderit
              </ng-template>
            </div>
          </div>
        </div>
     
      
        
        <div ngbAccordionItem="second">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton style="color: #d4be98; background-color: #282828;" class="accordion-header">Mob Psycho 100</button>
          </h2>
          <div ngbAccordionCollapse style="background-color: #282828;">
            <div ngbAccordionBody style="color: #d4be98;">
              <ng-template>
                Anim pariatur cliche reprehenderit
              </ng-template>
            </div>
          </div>
        </div>

        <div ngbAccordionItem="third">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton style="color: #d4be98; background-color: #282828;" class="accordion-header">Hunter x Hunter</button>
          </h2>
          <div ngbAccordionCollapse style="background-color: #282828;">
            <div ngbAccordionBody style="color: #d4be98;">
              <ng-template>
                Anim pariatur cliche reprehenderit
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      

    </div>
</div>

