<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filip Carlsson Profile</title>
  <link rel="styles" href="styles.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <a routerLink="/index" routerLinkActive="active" class="header_link">
            <img src="assets/home_icon_white.svg" alt="home icon"> Home</a>
       
        <a routerLink="/about" routerLinkActive="active" class="header_link">
            <img src="assets/about_icon.svg" alt="about icon"> About
          </a>
        <a routerLink="/login" routerLinkActive="active" class="login_link">
            <img src="assets/login_icon.svg" alt="login icon"> Login</a>
      </header>
      
<div class="middle_content_fadein">
  <div class="center_tables">
    <h1 class="h1">Filip Carlsson's anime profile</h1>
      <div class="tables_with_image">
        <div class="tables">
          <p><b>Personal profile</b></p>
          <table class="table_border">
            <tr>
              <th>Kategori</th>
              <th>Detaljer</th>
            </tr>
            <tr>
              <td>Ålder</td>
              <td>20</td>
            </tr>
            
            <tr>
              <td>Titel</td>
              <td>Student</td>
            </tr>
      
            <tr>
              <td>Studerar i nuläget</td>
              <td>Systemvetarprogrammet</td>
            </tr>
          </table>
          
          <p><b>Urval av avbetade anime's</b></p>
          
          <table class="table_border">
            <tr>
              <th>Avsnitt</th>
              <th>Anime namn</th>
              <th>Bedömning</th>
            </tr>
            
            <tr>
              <td>146</td>
              <td>The Disastrous Life of Saiki K.</td>
              <td>3,5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
            
            <tr>
              <td>12</td>
              <td>Solo Leveling</td>
              <td>3/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
      
            <tr>
              <td>98</td>
              <td>Attack on Titan</td>
              <td>4.5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
            
            <tr>
              <td>12</td>
              <td>Tokyo Ghoul</td>
              <td>1.5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
            
            <tr>
              <td>48</td>
              <td>Jujutsu Kaisen</td>
              <td>4/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
      
            <tr>
              <td>37</td>
              <td>Mob Psycho 100</td>
              <td>5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
      
            <tr>
              <td>48</td>
              <td>Vinland Saga</td>
              <td>5/5 <i class='bx bxs-star' style='color:#d0c722'  ></i></td>
            </tr>
      
            
          </table>

          <br>
          
        </div>
        <img src="assets/member1_photo.jpg" alt="member1 photo" class="member_photos">
        
      </div>
      
      <h1>Reasoning and discussion</h1>
      
      <div class="contributions_paragraph">
        <p><b>I chose these anime's because</b></p>
      </div>
    </div>
</div>

  <footer>
    <a href="https://www.instagram.com/filipc04/" class="footer_links" target="_blank">
      <img src="/assets/instagram_logo_white.svg" alt="instagram logo">
    </a>
    
    <a href="https://linktr.ee/filipc04" class="footer_links" target="_blank">Filip's socials</a>

    <a href="https://github.com/Filipc04" class="footer_links" target="_blank">
      <img src="/assets/github_logo_white-svg.svg" alt="github logo">
    </a>  
  </footer>

</body>
</html>
