@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root{
    --primary-white: #d4be98; /*For larger text*/
    --secondary-white:#aa987a; /*For smaller text*/
    --primary-black: #1d2021; /*For footer and header text*/
    --primary-gray: #282828; /*For background text*/
   
}
body > div > p {
  padding: none;
}
html, app-root, body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-gray);
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: space-between;
}

main {
  flex: 1;
}

header, footer{
  padding: 20px;
}

.main_title{
  font-size: 45;
  text-align: center;
  padding: 0;
  margin: 0;
  color: var(--primary-white);
}

.middle_content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;
  justify-content: center;
  align-items: center; 
  background: #282828;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  color: var(--primary-white);
  position: relative;
  min-height: 85vh;
}


.team-members {
  text-align: center;
  font-size: 65px;
  padding-top: 0px;
}

.team-members a{
  position: relative;
  color: var(--primary-white);
}
.team-members a:hover{
 
  color:#f08080;
}

.team-members a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color:#f08080;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.team-members a:hover::after{
  transform: scaleX(1);
}

.team-members a:last-child {
  margin-left: 120px;
}

.home_icon img{
  height: 50px;
}

.menu_icon img{
  height: 50px;
}

a {
  text-decoration: none;
  color: black;
}



.about_div{
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  line-height: 2;
}

.web_developer_pic{
  max-width: 300px;
}

.table_border{
  border: 5px var(--primary-black);
  border-collapse: collapse;
  width: 280px;
  margin-bottom: 16px;
}

.table_border th{
  border: 2px solid var(--primary-black);
  color:var(--primary-white);
  background-color: var(--primary-black);
  padding: 8px; 
  text-align: left; 
  font-size: 16px;
  font-weight: bold;
}

.table_border td{
  border: 2px solid var(--primary-black);
  color:var(--secondary-white);
  padding: 8px; 
  text-align: left; 
  font-size: 16px;
  font-weight: bold;

}

tr > td:last-child{
  white-space: nowrap;
}

.about_homepage{
  margin-left: 20px;
}

.center_tables{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.tables_with_image{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.tables{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.member_photos{
  max-width: 350px;
  height: auto;
  border-radius: 25px;
  border: 5px solid var(--primary-black);
}

.member_photos_2{
  max-width: 350px;
  height: auto;
  border-radius: 25px;
  border: 5px solid var(--primary-black);
  margin-right: 50px;
}

.contributions_paragraph{
  max-width: 600px;
}

.list{
  border: 2px solid var(--primary-black);
  padding: 8px;
  font-size: 16px;
  color:var(--primary-black);
  width: 260px;
  margin-top: 20px;
  font-weight: bold;
}

.list p {
  background-color: var(--primary-black);
  padding:5px;
  color: var(--primary-white);
  text-align: center; 
}


@media screen and (max-width: 768px) {
  .tables_with_image {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .member_photos {
    max-width: 50%;
    margin-bottom: 20px;
  }

  .member_photos_2 {
    max-width: 50%;
    align-items: center;
    margin-bottom: 20px;
  }

  .table_border {
    width: 80%;
    margin-left: 30px;
    margin-bottom: 20px;
  }

  .list {
    width: 80%;
    margin-left: 30px;
  }

  .contributions_paragraph {
    margin-left: 20px;
    margin-right: 20px;
  }

  .team-members {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 50px;
  }

  .about_div {
    margin-left: 20px;
    margin-right: 20px;
  }
  .h1 {
    text-align: center;
    padding-left: 20px;
  }
  .h1 {
    text-align: center;
    padding-left: 20px;
  }
}
@media screen and (max-width: 1000px) {
  header .header_links-container a,
  header .login-links,
  header .centered-link {
    display: none;
  }

  header .header_links-container .toggle-navbar-btn {
    display: block;
  }
}
@media screen and (max-height: 1000px) {
    .side-nav {
      width: 100% !important;
      max-height: 100vh !important;
      left: -100% !important;
      top: 0 !important;
      padding: 0 !important;
      overflow-y: auto !important;
    }
    .side-nav.active {
      left: 0 !important;
    }
    .side-nav ul {
      margin: 0 !important;
      padding: 0 !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      height: 100% !important;
    }
    .side-nav li {
      margin: 10px 0 !important;
    }
    .side-nav a {
      font-size: 16px !important;
      padding: 8px 15px !important;
    }
    .navbar_image_holder {
      display: none !important;
    }
    .toast {
      width: 90% !important;
      max-width: 350px !important;
    }
  }


.headline_memberpages{
  margin: 30px;
}

.invalid {
  color: #f08080;
}

.valid {
  color: green;
}

.login_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  background: transparent;
  text-align: center;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  margin: 40px;
}

.login_form .input_box{
  position: relative;
  width: 420px;
  height: 50px;
  margin: 30px 0;
  padding: 0 10px;

}

.input_box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #1d2021;
  padding: 20px 45px 20px 20px;
}

.input_box input::placeholder {
  color: #d4be98;
  opacity: 0.7; 
}

.input_box input:focus {
  background: transparent; 
  border-color: #d4be98; 
  color: #d4be98; 
  outline: none; 
}

.input_box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.login_form .button{
  width: 400px;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.success_message{
  color: green;
  font-weight: bold;
  font-size: 24px; 
  text-align: center; 
  margin-top: 10px;
}

.error_message{
  margin-top: 10px;
}

button[ngbAccordionButton]:focus {
  outline: none; 
  box-shadow: none; 
  border-color: #d4be98;  
}

button[ngbAccordionButton] {
  height: 50px; 
  line-height: 50px; 
  padding: 0 10px; 
  text-align: left; 
  overflow: hidden; 
  width: 600px;
  font-size: 20px;
  border: 1px solid #d4be98; 
  box-sizing: border-box; 
}

div[ngbAccordionCollapse] {
  overflow-y: 100px; 
  font-size: 16px;

}

button[ngbAccordionButton]::after {
  content: ''; 
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border: solid #d4be98; 
  border-width: 0 0.2rem 0.2rem 0; 
  transform: rotate(45deg); 
  position: absolute; 
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%) rotate(45deg); 
  transition: transform 0.2s ease-in-out; 
}

button[ngbAccordionButton][aria-expanded="true"]::after {
  transform: translateY(-50%) rotate(135deg); 
}

.accordion_text_width{
  max-width: 600px;
}

img, svg {
  vertical-align: baseline !important;
}