<div class="middle_content">
  <h1 class="main_title">Angular Project - 1IK163</h1>

  @if (images) {
    <div class="carousel-wrapper">
      <ngb-carousel class="custom-carousel">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <h3>Kimetsu no Yaiba</h3>
            <p>Also called Demon Slayer. Picture shows (from left to right) Zenitzu, Inosuke, Tanjiro, Nezuko and the Wind Hashira.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" />
          </div>
          <div class="carousel-caption">
            <h3>Lain</h3>
            <p>Här får du skriva något Abbe! :D</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
          </div>
          <div class="carousel-caption">
            <h3>Mob Psycho 100</h3>
            <p>Shows (from left to right) master Arataka Reigen and Mob/Shigeo Kageyama.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  }

  <div class="team-members">
    <a routerLink="/member1" routerLinkActive="active" class="member-text">
      <b><i>Filip Carlsson</i></b>
    </a>
    <a routerLink="/member2" routerLinkActive="active" class="member-text">
      <b><i>Abbe Åkeson</i></b>
    </a>
  </div>
</div>
